@model MvcStokProject.Models.Entity.TBL_SATIS

@{
    ViewBag.Title = "SatisEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("SatisEkle", "Satis", FormMethod.Post))
{
    <h2 style="text-align:center; margin-top:15px;">Satış Ekleme Paneli</h2>
    <div>
        @Html.HiddenFor(x => x.ID)
        <label style="font-weight:bold;">Ürün</label>
        @Html.DropDownListFor(x => x.TBL_URUN.ID, (List<SelectListItem>)ViewBag.urunList, new { @class = "form-control" })
        <br />
        <label style="font-weight:bold;">Personel</label>
        @Html.DropDownListFor(x => x.TBL_PERSONEL.ID, (List<SelectListItem>)ViewBag.personelList, new { @class = "form-control" })
        <br />
        <label style="font-weight:bold;">Müşteri</label>
        @Html.DropDownListFor(x => x.TBL_MUSTERI.ID, (List<SelectListItem>)ViewBag.musteriList, new { @class = "form-control" })
        <br />
        <label style="font-weight:bold;">Fiyat Tutarı</label>
        @Html.TextBoxFor(x => x.FIYAT, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Satış Yap ve Kaydet</button>
    </div>

}
